<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "repo.settings"}}</div>
		<a class="{{if .PageIsSettingsOptions}}active{{end}} item" href="{{.RepoLink}}/navsettings/basic">
			{{.i18n.Tr "repo.settings.options"}}
		</a>
	</div>
</div>
